    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li class="alert alert-warning"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>