<ul class="nav nav-tabs">
<% if logged_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dashboard</a>
    <div class="dropdown-menu">
      <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
      <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%# link_to "Settings", edit_user_path, class: "dropdown-item disabled" %>
    </div>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to 'Login', login_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign Up", signup_path, class: "nav-link" %>
  </li>
</ul>
<% end %>