<link href="https://fonts.googleapis.com/css?family=Monoton|Raleway+Dots|family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|Lato:300" rel="stylesheet">
<div class="about_body">
  <div class="about_container">
    <div class="about_row">
      <div class="col-xxs-12 col-lg-10 m-x-auto">
        <section class="card card-lg" id="about-about">
          <h1 class="about_headline">- Our Mission -</h1>
            <p class="about_first">Create a userfriendly system for people to keep up with their favorite cryptocurrencies.</p>
            <div class="paragraph">
              <p class="about_second"> Cryptocurrency has been an exploding phenomenon in the past few years. All throughout mainstream media you have heard about the rising value of different forms of cryptocurrency, and the different retailers now accepting bitcoin. As the general population becomes more informed and interested about cryptocurrency, we wanted to provide a platform for them to easily track a vast number of cryptocurrency they may have invested in.</p>
            </div>
              <h2 class="about_info"> If you're interested in cryptocurrency, but not yet ready to track alerts feel free to explore further information by clicking the link below. </h2>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </span><span class="Warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Warning!</strong></span></span><br>Clicking the button below will take you to another page, only click it if you're ready to leave Cryptoalerts.
          </div>
              <a id="aboutpage" class="btn btn-primary btn-lg" href="https://blockgeeks.com/guides/what-is-cryptocurrency/" role="button">Learn more</a>
            </p>
        </section>
        </div>
      </div>
    </div>
  </div>
