
	<body class="homepage">
		<header>
			<div id="header_container">
				<div id="crypto_header">
					<h1>Crypto Me</h1>
					<h2>The most user friendly place to track cryptocurreny on the web!</>

				</div>
			</header>

			<section class="cp-primary" id="about">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-sm-offset-2 text-align center wow">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
								<g>
									<path
										fill="#010101"
										d="M497.552,416.172h-27.714l-0.771-146.204c0.005-0.044,0-0.089,0-0.134l-0.317-59.514l0.161-0.122
							l-0.166-0.222l-0.022-4.464l-57.121-0.816l-24.849,15.542h-0.105v0.061l-0.012,0.005l0.012,0.011v195.857h-26.97l-0.566-105.836
							v-0.133l-0.316-59.525l0.166-0.117l-0.166-0.222l-0.022-4.459l-57.121-0.821l-24.854,15.542h-0.1v0.061l-0.012,0.011l0.012,0.012
							v155.488h-21.733l-0.367-68.737v-0.139l-0.311-59.515l0.161-0.122l-0.167-0.223l-0.017-4.459l-57.121-0.815l-24.854,15.536h-0.105
							v0.066l-0.005,0.006l0.005,0.017v118.385h-27.836l-0.239-46.133l-0.006-0.139l-0.316-59.514l0.161-0.128l-0.161-0.217l-0.022-4.459
							l-57.122-0.821l-24.854,15.542h-0.105v0.061l-0.005,0.012l0.005,0.011v95.785H23.979V81.382c0-1.354-1.088-2.451-2.443-2.451
							c-1.349,0-2.443,1.097-2.443,2.451v33.608H2.456c-1.354,0-2.454,1.097-2.454,2.452c0,1.352,1.1,2.449,2.454,2.449h16.636v43.7
							L1.973,167c-1.327,0.264-2.188,1.555-1.927,2.882c0.233,1.164,1.255,1.969,2.393,1.969c0.167,0,0.328-0.017,0.489-0.047
							l16.164-3.221v76.998H4.678c-1.355,0-2.455,1.1-2.455,2.454c0,1.35,1.1,2.443,2.455,2.443h14.415v85.701l-11.377,1
							c-1.35,0.122-2.343,1.31-2.227,2.653c0.111,1.277,1.183,2.232,2.438,2.232c0.072,0,0.145,0,0.217-0.005l10.95-0.967v77.528
							c0,1.349,1.094,2.448,2.443,2.448h476.016c1.349,0,2.448-1.1,2.448-2.448C500,417.266,498.9,416.172,497.552,416.172z
							 M139.426,411.818l-13.849-1.044v-3.387l13.793-6.375L139.426,411.818z M139.349,397.42l-13.771,6.375v-8.374l13.699-11.688
							L139.349,397.42z M125.578,391.129v-5.464l9.917-2.999L125.578,391.129z M139.243,378.119l-13.666,4.131v-4.608l13.643-4.848
							L139.243,378.119z M139.199,369.329l-13.621,4.853v-8.39l13.571-5.97L139.199,369.329z M139.132,356.258l-13.554,5.964v-7.074
							l13.527-3.332L139.132,356.258z M139.087,348.456l-13.51,3.326v-8.296l13.482-0.955L139.087,348.456z M139.038,339.255
							l-11.456,0.811l11.406-10.728L139.038,339.255z M125.578,337.473v-3.426l7.568-3.693L125.578,337.473z M138.954,323.885
							l-13.376,6.53v-6.43l13.333-9.962L138.954,323.885z M120.675,416.172h-54.09v-90.971h54.09V416.172z M71.027,320.304l16.991-10.623
							l47.609,0.684l-13.315,9.939H71.027z M125.578,416.172v-2.121l13.865,1.044l0.005,1.077H125.578z M249.977,399.408l-13.904,3.42
							v-11.377l13.865,1.038L249.977,399.408z M249.921,389.208l-13.849-1.033v-3.387l13.793-6.375L249.921,389.208z M249.849,374.82
							l-13.776,6.363v-8.367l13.693-11.689L249.849,374.82z M236.072,368.529v-5.47l9.917-2.998L236.072,368.529z M249.743,355.52
							l-13.671,4.125v-4.608l13.643-4.848L249.743,355.52z M249.693,346.729l-13.621,4.847v-8.39l13.576-5.97L249.693,346.729z
							 M249.621,333.658l-13.549,5.963v-7.074l13.532-3.331L249.621,333.658z M249.588,325.856l-13.516,3.326v-8.296l13.482-0.961
							L249.588,325.856z M249.537,316.655l-11.449,0.811l11.395-10.728L249.537,316.655z M236.072,314.873v-3.432l7.568-3.692
							L236.072,314.873z M249.46,301.279l-13.388,6.525v-6.431l13.326-9.95L249.46,301.279z M231.175,416.172h-54.09V302.596h54.09
							V416.172z M181.527,297.698l16.991-10.622l47.604,0.683l-13.311,9.939H181.527z M236.072,416.172v-9.983l13.921-3.421l0.038,7.396
							l-10.827,6.008H236.072z M245.939,416.172l4.114-2.288l0.012,2.288H245.939z M354.701,402.989l-14.115,4.509v-4.236l14.093-4.825
							L354.701,402.989z M354.651,394.999l-14.065,4.814v-5.286l14.032-7.58L354.651,394.999z M354.602,383.255l-14.016,7.563v-6.275
							l13.977-7.751L354.602,383.255z M354.546,373.061l-13.96,7.751v-11.716l13.915-3.432L354.546,373.061z M354.484,362.311
							l-13.898,3.42v-11.383l13.865,1.044L354.484,362.311z M354.43,352.115l-13.844-1.044v-3.387l13.793-6.375L354.43,352.115z
							 M354.357,337.723l-13.771,6.363v-8.368l13.693-11.688L354.357,337.723z M340.586,331.426v-5.464l9.918-2.999L340.586,331.426z
							 M354.257,318.421l-13.671,4.132v-4.615l13.644-4.847L354.257,318.421z M354.207,309.631l-13.621,4.848v-8.396l13.576-5.964
							L354.207,309.631z M354.135,296.555l-13.549,5.963v-7.074l13.526-3.331L354.135,296.555z M354.102,288.758l-13.516,3.326v-8.301
							l13.477-0.955L354.102,288.758z M354.052,279.552l-11.456,0.811l11.395-10.728L354.052,279.552z M340.586,277.775v-3.438
							l7.568-3.682L340.586,277.775z M353.969,264.182l-13.383,6.524v-6.425l13.327-9.956L353.969,264.182z M335.684,416.172h-54.096
							V265.503h54.096V416.172z M286.041,260.601l16.98-10.623l47.615,0.688l-13.315,9.935H286.041z M347.321,416.172h-6.735v-5.247
							l14.132-4.515l0.033,6.458L347.321,416.172z M464.868,403.956l-14.326,2.776v-5.52l14.293-4.398L464.868,403.956z M464.823,393.405
							l-14.281,4.398v-7.452l14.237-3.354L464.823,393.405z M464.768,383.649l-14.226,3.349v-4.62l14.182-6.308L464.768,383.649z
							 M464.701,372.505l-14.159,6.297v-8.24l14.132-4.509L464.701,372.505z M464.651,362.627l-14.109,4.503v-4.231l14.087-4.819
							L464.651,362.627z M464.612,354.637l-14.07,4.809v-5.287l14.032-7.573L464.612,354.637z M464.552,342.887l-14.01,7.562v-6.264
							l13.971-7.763L464.552,342.887z M464.496,332.697l-13.954,7.746v-11.717l13.915-3.426L464.496,332.697z M464.435,321.941
							l-13.893,3.426v-11.383l13.859,1.038L464.435,321.941z M464.385,311.747l-13.843-1.039v-3.387l13.787-6.375L464.385,311.747z
							 M464.312,297.354l-13.771,6.364v-8.362l13.698-11.694L464.312,297.354z M450.542,291.062v-5.469l9.917-2.999L450.542,291.062z
							 M464.207,278.053l-13.665,4.131v-4.608l13.638-4.854L464.207,278.053z M464.163,269.268l-13.621,4.843v-8.385l13.571-5.975
							L464.163,269.268z M464.096,256.197l-13.554,5.958v-7.08l13.526-3.32L464.096,256.197z M464.052,248.39l-13.51,3.332v-8.302
							l13.482-0.961L464.052,248.39z M464.002,239.183L452.547,240l11.405-10.728L464.002,239.183z M450.542,237.406v-3.432l7.568-3.687
							L450.542,237.406z M463.918,223.813l-13.376,6.53v-6.43l13.332-9.956L463.918,223.813z M445.639,416.172h-54.095V225.135h54.095
							V416.172z M395.986,220.237l16.991-10.628l47.609,0.688l-13.31,9.939H395.986z M450.542,414.584v-4.525l14.354-2.776l0.028,6.035
							L450.542,414.584z"/>
									<path
										fill="#010101"
										d="M67.457,278.802l0.022,0.217l-0.017-0.217c0,0,0.005,0,0.011,0l0.028,0.217
							c0.3-0.033,0.583-0.11,0.838-0.244c12.505-0.478,72.369-6.552,145.104-25.653c72.863-19.146,174.19-55.939,248.214-123.088
							l-4.97,22.055c-0.294,1.319,0.533,2.629,1.85,2.927c0.183,0.042,0.366,0.061,0.538,0.061c1.128,0,2.133-0.775,2.388-1.91
							l6.702-29.724c0-0.017-0.005-0.033,0-0.056c0.062-0.286,0.067-0.58,0.022-0.877c-0.017-0.081-0.05-0.147-0.066-0.225
							c-0.05-0.158-0.078-0.325-0.15-0.478c-0.027-0.039-0.056-0.072-0.083-0.111c-0.05-0.095-0.116-0.169-0.178-0.253
							c-0.122-0.155-0.25-0.3-0.399-0.422c-0.078-0.064-0.145-0.117-0.233-0.167c-0.194-0.125-0.405-0.222-0.639-0.289
							c-0.045-0.011-0.072-0.045-0.122-0.053c-0.017-0.003-0.033,0.002-0.056,0c-0.289-0.062-0.589-0.078-0.894-0.025h-0.012
							c-0.011,0-0.017,0.006-0.033,0.006l-33.999,5.741c-1.333,0.222-2.232,1.491-2.005,2.824c0.228,1.33,1.482,2.241,2.82,2.004
							l25.954-4.381C316.893,254.608,76.108,273.577,67.362,274.133c-0.116-0.012-0.228,0-0.35,0.011
							c-1.072,0.105-2.038,0.899-2.254,1.949c-0.216,1.049,0.272,2.121,1.21,2.638C66.074,278.797,66.574,278.818,67.457,278.802z"/>
								</g>
							</svg>
							<p class="homepagebody">
								This website was created in an effort to allow for greater accessibility to cryptocurrency information. We know that for most people our daily lives keep us so busy it's hard to spare that extra moment in time even for things we are interested in. In
								order to bridge the gap for people who are interested in cryptocurreny, CryptoAlerts will allow you to create a profile and track your favorite currencies, while receiving simple updates by phone.
							</p>
						</div>

					</div>

				</div>
			</div>
			<div class="description-body">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div id="carouselContent" class="carousel-item active">
							<img class="d-block w-100" src="assets/cryptocoin.jpg" alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="assets/cryptocoin2.jpg" alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="assets/textgraphic.jpg" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</body>
