<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("cryptocoin.jpg", alt: "First Slide", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("cryptocoin2.jpg", alt: "Second Slide", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("textgraphic.jpg", alt: "Third Slide", class: "d-block w-100") %>
    </div>
  </div>
</div>